.header {
    background-image: url("/images/headerImg.jpg");
    background-size: cover;
    height: 100vh;
    color: whitesmoke;
}


#logo {
    position: relative;
    top: 0.4em;
    left: 1em;
}

.header a {
    color: inherit;
    text-decoration: none;
}

.header ul {
    position: absolute;
    right: 2em;
    top: 1em;
}

.header li {
    display: inline-block;
    padding: 0.5em;
    margin-right: 0.3em;
}

.header li:hover {
    border-bottom: 2px solid blue;
}

.hero-text {
    position: absolute;
    top: 15em;
    text-align: center;
}
.hero-text p{
    margin-top: 1em;
    font-size: 1.1em;
}

.hero-text a{
    position: relative;
    font-size: 1em;
    display: inline-block;
    width: 10em;
    margin-top: 2em;
    padding: 1em;
    background-color: blue;
    border: none;
    border-radius: 0.3em;
    
}

/* Second section*/
.body {
    background-color: red;
    height: 20vh;
}

@media screen and (max-width: 600px){
    

    .navbar h1{
        display: inline-block;
    }
        .navbar ul{
        /*height: 0;**/
        display: none;
        overflow: hidden;
        text-align: center;
        position: relative;
        top: 1em;
        right: 1em;
        background-color: darkslategray;
    }
    .navbar ul li{
        display: none;
        display: block;
        float: none;
        overflow: hidden;
    }
    
    .mobile-nav {
        display: block;
        background: url(/images/burgernav.svg) no-repeat 93% center;
        height: 32px;
        position: relative;
        top: 2em;
    }
    

}