body {
    font-family: "Open Sans";
}


/* Custom class to center text */

.center-it {
    margin: auto;
    width: 70%;
    text-align: center;
}


/* Loading */

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: url('/images/loading.gif') 50% 50% no-repeat #2290f0;
}


/* Header section*/

.header {
    background-image: url("/images/headerImg.jpg");
    background-size: cover;
    height: 100vh;
    color: whitesmoke;
    overflow: hidden;
}

#logo {
    position: relative;
    top: 0.4em;
    left: 1em;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    font-size: 1.1em;
}

.navbar ul {
    position: absolute;
    right: 2em;
    top: 1em;
}

.navbar li {
    display: inline-block;
    padding: 0.5em;
    margin-left: 1em;
    /*    margin-right: 0.3em;*/
}

.navbar li:hover {
    transition: 0.35s;
    color: red;
}


/*
Full navbar is the navbar that is shown
after the user has scrolled to almost
the second div
*/

.full-navbar {
    /* Fixed position requires a z-index and will
      make the width shorter, so */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100vw;
    z-index: 100;
    position: fixed;
    /*Pink #7c4199 - black: rgba(0,0,0,0.85); */
    background-color: rgba(0,0,0,0.85);
    height: 65px;
    line-height: 40px;
}

.full-navbar h1 {
    padding: 0;
    color: white;
    display: inline;
    font-size: 30px;
    margin-left: 0.4em;
    position: relative;
    top: 0.13em;
}

.full-navbar ul {
    display: inline;
    float: right;
}

.full-navbar li {
    display: inline;
    font-size: 18px;
    margin-left: 1em;
    position: relative;
    top: -0.3em;
}


/* The text in the middle of the header section*/

.hero-text {
    position: relative;
    top: 15em;
    text-align: center;
}

.hero-text h1 {
    font-size: 2.5em;
}

.hero-text p {
    position: relative;
    font-size: 1.5em;
    margin-top: 1em;
}

.hero-text h1,
.hero-text p,
.hero-text a {
    color: white;
}

.hero-text a {
    text-decoration: none;
    position: relative;
    font-size: 1em;
    display: inline-block;
    width: 10em;
    margin-top: 2em;
    padding: 1em;
    background-color: blue;
    border: none;
    border-radius: 0.3em;
}


/*End of header*/


/* Second section*/

.about {
    background-image: url(/images/backgroundStripes.png);
    height: 80vh;
    color: white;
    background-color: #4b2ca0;
}

.about-text {
    position: relative;
    top: 4em;
    font-size: 1.3em;
}

.about-text h1 {
    font-size: 2em;
}

.about-text p {
    margin-top: 1em;
    font-size: 1.2em;
}


/*Other sections*/

.my-work {
    height: 60vh;
    background-color: green;
}

.contact-me {
    height: 60vh;
    background-color: blue;
}


/* Footer */

footer {
    padding: 1em;
    background-color: black;
    color: grey;
    text-align: center;
}

footer a {
    color: aliceblue;
    text-decoration: none;
}


/* Media queries*/


/* More than 1000PX */

@media screen and (min-width: 1000px) {
    .about-text {
        top: 7em;
    }
}


/* Less than 600PX */

@media screen and (max-width: 600px) {
    #logo {
        top: 0;
    }
    .navbar h1 {
        line-height: 40px;
        display: inline;
    }
    .navbar ul {
        /*height: 0;**/
        width: 100vw;
        display: none;
        overflow: hidden;
        text-align: center;
        position: relative;
        top: 0.4em;
        right: 1em;
        background-color: darkslategray;
    }
    .navbarli:hover {
        border: none;
        border-left: 2px solid red;
    }
    .navbar ul li {
        display: none;
        display: block;
        float: none;
        overflow: hidden;
        border: 1px solid blue;
    }
    .mobile-nav {
        display: block;
        background: url(/images/burgernav.svg) no-repeat 93% center;
        height: 32px;
        position: relative;
        top: 2em;
    }
    .hero-text {
        top: 7em;
        padding: 2em;
    }
    
/* 
    Navbar if the user has scrolled down on
    other divs
    */
    .full-navbar #logo{
        position: relative;
        top: -0.6em;
        left: 0.3em;
    }
    .full-navbar .mobile-nav {
        display: block;
        top: 1em;
        background-position: 90% center;
/*        background-image: url(/images/burgernav.svg);*/
    }
}


/* Less than 500PX */

@media screen and (max-width: 500px) {
    .about-text p {
        margin-top: 0.6em;
        font-size: 1.1em;
    }
}


/* Less than 400PX */

@media screen and (max-width: 400px) {
    .hero-text {
        top: 4em;
        width: 80%;
        margin: auto;
    }
    .about-text {
        position: relative;
        top: 1em;
    }
}