
body{
    font-family: "Open Sans";
}
    .header {
    background-image: url("/images/headerImg.jpg");
    background-size: cover;
    height: 100vh;
    color: whitesmoke;
    overflow: hidden;
}

#logo {
    position: relative;
    top: 0.4em;
    left: 1em;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    font-size: 1.1em;
}

.navbar ul {
    position: absolute;
    right: 2em;
    top: 1em;
}

.navbar li {
    display: inline-block;
    padding: 0.5em;
    /*    margin-right: 0.3em;*/
}

.navbar li:hover {
    border-bottom: 2px solid blue;
}


/* The text in the middle of the header section*/

.hero-text {
    position: relative;
    top: 15em;
    text-align: center;
    margin: auto;
    width: 70%;
}

.hero-text h1 {
    font-size: 2.5em;
}

.hero-text p {
    /* Center it */
    margin: auto;
    width: 50%;
    /* Centering is complete */
    position: relative;
    font-size: 1.2em;
    margin-top: 1em;
}

.hero-text a {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 1em;
    display: inline-block;
    width: 10em;
    margin-top: 2em;
    padding: 1em;
    background-color: blue;
    border: none;
    border-radius: 0.3em;
}


/* Second section*/

.body {
    background-color: red;
    height: 20vh;
}


/*Loading*/

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/images/loading.gif') 50% 50% no-repeat #2290f0;
}


/* Media queries*/

@media screen and (min-width: 1000px) {
    /*
    .navbar li {
       // margin-right: 0.8em;
    //}
*/
}

@media screen and (max-width: 600px) {
    #logo {
        top: 0;
    }
    .navbar h1 {
        display: inline-block;
    }
    .navbar ul {
        /*height: 0;**/
        width: 100vw;
        display: none;
        overflow: hidden;
        text-align: center;
        position: relative;
        top: 0.4em;
        right: 1em;
        background-color: darkslategray;
    }
    .navbarli:hover {
        border: none;
        border-left: 2px solid red;
    }
    .navbar ul li {
        display: none;
        display: block;
        float: none;
        overflow: hidden;
    }
    .mobile-nav {
        display: block;
        background: url(/images/burgernav.svg) no-repeat 93% center;
        height: 32px;
        position: relative;
        top: 2em;
    }
    
    .hero-text{
        top: 4em;
    }
}

@media screen and (max-width: 400px) {
    .hero-text {
        top: 4em;
        width: 80%;
        margin: auto;
    }
}