body {
    font-family: "Open Sans";
}

/* Custom class to center text */
.center-it{
    margin: auto;
    width: 70%;
    text-align: center;
}
/* Loading */

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: url('/images/loading.gif') 50% 50% no-repeat #2290f0; 
}


/* Header section*/

.header {
    background-image: url("/images/headerImg.jpg");
    background-size: cover;
    height: 100vh;
    color: whitesmoke;
    overflow: hidden;
}

#logo {
    position: relative;
    top: 0.4em;
    left: 1em;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    font-size: 1.1em;
}

.navbar ul {
    position: absolute;
    right: 2em;
    top: 1em;
}

.navbar li {
    display: inline-block;
    padding: 0.5em;
    /*    margin-right: 0.3em;*/
}

.navbar li:hover {
    transition: 0.35s;
    color: red;
}


/* The text in the middle of the header section*/
.hero-text {
    position: relative;
    top: 15em;
    text-align: center;
}

.hero-text h1 {
    font-size: 2.5em;
}

.hero-text p {
    position: relative;
    font-size: 1.5em;
    margin-top: 1em;
}

.hero-text h1, .hero-text p, .hero-text a{
    color: white;
}
.hero-text a {
    text-decoration: none;
    position: relative;
    font-size: 1em;
    display: inline-block;
    width: 10em;
    margin-top: 2em;
    padding: 1em;
    background-color: blue;
    border: none;
    border-radius: 0.3em;
}/*End of header*/



/* Second section*/

.about {
    background-image: url(/images/backgroundStripes.png);
    height: 80vh;
    color: white;
    background-color: #4b2ca0;
}

.about-text{
    position: relative;
    top: 4em;
    font-size: 1.3em;
}

.about-text h1 { font-size: 2em; }
.about-text p{
    margin-top: 1em;
    font-size: 1.2em;
}


/*Other sections*/
.my-work{
    
    height: 60vh;
    background-color: black;
}
.contact-me{
    height: 60vh;
    background-color: blue;
}

/* Footer */
footer{
    height: 4vh;
    background-color: black;
    color: grey;
    text-align: center;
}
/* Media queries*/

@media screen and (min-width: 1000px) {

    .about-text{
        top: 7em;
    }
}

@media screen and (max-width: 600px) {
    #logo {
        top: 0;
    }
    .navbar h1 {
        display: inline-block;
    }
    .navbar ul {
        /*height: 0;**/
        width: 100vw;
        display: none;
        overflow: hidden;
        text-align: center;
        position: relative;
        top: 0.4em;
        right: 1em;
        background-color: darkslategray;
    }
    .navbarli:hover {
        border: none;
        border-left: 2px solid red;
    }
    .navbar ul li {
        display: none;
        display: block;
        float: none;
        overflow: hidden;
        border: 1px solid blue;
    }
    .mobile-nav {
        display: block;
        background: url(/images/burgernav.svg) no-repeat 93% center;
        height: 32px;
        position: relative;
        top: 2em;
    }
    .hero-text {
        top: 4em;
    }
}

@media screen and (max-width: 400px) {
    .hero-text {
        top: 4em;
        width: 80%;
        margin: auto;
    }
    
    .about-text{
        position: relative;
        top: 1em;
    }
}