/* Imported SASS files */
/* line 1, ../sass/reset.scss */
* { border: 0; padding: 0; margin: 0; box-sizing: border-box; }
/* line 7, ../sass/reset.scss */
*:before, *:after { box-sizing: border-box; }

/* line 2, ../sass/header-section.scss */
.header { background-image: url("/images/headerImg.jpg"); background-size: cover; height: 100vh; color: whitesmoke; overflow: hidden; }

/* -Navbar- Navbar h1 - Logo Navbar ul/li/a - nav items */
/* line 16, ../sass/header-section.scss */
.navbar h1 { position: relative; top: 0.4em; left: 1em; }
/* line 21, ../sass/header-section.scss */
.navbar a { color: inherit; text-decoration: none; font-size: 1.1em; }
/* line 26, ../sass/header-section.scss */
.navbar ul { position: absolute; right: 2em; top: 1em; }
/* line 31, ../sass/header-section.scss */
.navbar li { display: inline-block; padding: 0.5em; margin-left: 1em; font-size: 1.1em /* The pseudoclass :after is used to create the effect of the border-bottom expanding from middle to left and right and not from top to bottom as default. */ }
/* line 37, ../sass/header-section.scss */
.navbar li:hover:after { -webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1); }
/* line 40, ../sass/header-section.scss */
.navbar li:after { display: block; content: ''; border-bottom: solid 3px white; -webkit-transform: scaleX(0); -ms-transform: scaleX(0); transform: scaleX(0); -webkit-transition: -webkit-transform 250ms ease-in-out; transition: transform 250ms ease-in-out; }

/* The text in the middle of the header section*/
/* line 51, ../sass/header-section.scss */
.hero-text { position: relative; top: 15em; text-align: center; }
/* line 55, ../sass/header-section.scss */
.hero-text h1 { font-size: 2.5em; }
/* line 59, ../sass/header-section.scss */
.hero-text p { position: relative; font-size: 1.5em; margin-top: 1em; }
/* line 65, ../sass/header-section.scss */
.hero-text h1, .hero-text p { color: white; }
/* line 70, ../sass/header-section.scss */
.hero-text a { color: white; text-decoration: none; position: relative; font-size: 1em; display: inline-block; width: 10em; margin-top: 2em; padding: 1em; border: 2px solid white; color: white; border-radius: 0.3em; }
/* line 82, ../sass/header-section.scss */
.hero-text a:hover { background-color: blue; color: white; border: none; }

/* Second section*/
/* line 3, ../sass/about-section.scss */
.about { background-image: url(/images/backgroundStripes.png); height: auto; color: white; background-color: #4b2ca0; font-size: 1.5em; }
/* line 9, ../sass/about-section.scss */
.about h1 { font-size: 1.4em; }
/* line 13, ../sass/about-section.scss */
.about p { font-size: 1em; margin-top: 0.7em; }

/* The spans that change the words color*/
/* line 20, ../sass/about-section.scss */
#csharp { color: #5bef33; }

/* line 23, ../sass/about-section.scss */
#html5 { color: #f32424; }

/* line 26, ../sass/about-section.scss */
#css3 { color: #8893f0; }

/* line 29, ../sass/about-section.scss */
#js { color: #f8f35d; }

/* /SPANS */
/* The text in the about section */
/* line 36, ../sass/about-section.scss */
.about-text { position: relative; top: 2em; padding-bottom: 3em; }
/* line 40, ../sass/about-section.scss */
.about-text p { margin-top: 0.7em; }

/* line 44, ../sass/about-section.scss */
.skills-text { padding-bottom: 1.5em; }

/* Contact me section*/
/* line 3, ../sass/contactMe-section.scss */
.contact-me { height: 20em; background-color: #001f3f; color: white; }
/* line 7, ../sass/contactMe-section.scss */
.contact-me h1 { padding-top: 0.7em; }
/* line 10, ../sass/contactMe-section.scss */
.contact-me .contact-form { padding-bottom: 2em; }
/* line 13, ../sass/contactMe-section.scss */
.contact-me .input-text { margin-top: 1em; }
/* line 16, ../sass/contactMe-section.scss */
.contact-me #send-button { position: relative; width: 10em; margin: 2em auto; }
/* line 21, ../sass/contactMe-section.scss */
.contact-me input { padding: 0.4em 0.6em; display: block; margin: 0 auto; }

/* Projects */
/* line 3, ../sass/projects-section.scss */
.my-work { height: auto; font-size: 1.3em; background-color: #c2c2ca; text-align: center; }
/* line 8, ../sass/projects-section.scss */
.my-work h1 { position: relative; top: 0.6em; font-size: 2em; }

/* line 14, ../sass/projects-section.scss */
.project-box { margin-top: 1em; }

/* line 17, ../sass/projects-section.scss */
.content { margin-top: 2em; }

/* line 20, ../sass/projects-section.scss */
.description { font-size: 0.9em; margin: 0.4em; color: #010140; }

/* line 25, ../sass/projects-section.scss */
.my-work .hero-line { position: relative; top: 1em; background-color: black; }

/* line 30, ../sass/projects-section.scss */
.image img { height: 100px; width: 300px; display: inline; margin-top: 1em; }

/* line 36, ../sass/projects-section.scss */
.title a { display: inline-block; color: inherit; text-decoration: none; font-size: 1.3em; }

/* line 43, ../sass/projects-section.scss */
.tools-used ul { list-style-type: none; }
/* line 47, ../sass/projects-section.scss */
.tools-used li { display: inline; padding: 0.4em; margin-top: 0.3em; color: white; background-color: #ed1616; border-radius: 0.2em; font-size: 0.8em; }

/* line 57, ../sass/projects-section.scss */
.split-line { height: 1px; background-color: black; width: 90%; margin: auto; margin-top: 3em; }

/* line 64, ../sass/projects-section.scss */
#projectN2 { padding-bottom: 1em; }

/* Less than 500PX */
@media screen and (max-width: 500px) { /* line 3, ../sass/mobiles.scss */
  .hero-line { margin-top: 0.2em; margin-bottom: -0.4em; }
  /* line 8, ../sass/mobiles.scss */
  .image img { width: 200px; } }
/* Less than 400PX */
@media screen and (max-width: 400px) { /* line 15, ../sass/mobiles.scss */
  .hero-text { top: 5em; width: 80%; margin: auto; }
  /* line 21, ../sass/mobiles.scss */
  .about { font-size: 1.3em; }
  /* line 25, ../sass/mobiles.scss */
  .image img { width: 150px; height: 100px; margin: 1em auto -1em auto /* 1em from top, auto to right-left to center it and -1em for bottom, so the content such as the description and the title can be closer */ } }
/* Less than 600PX */
@media screen and (max-width: 600px) { /* line 3, ../sass/tablets.scss */
  #logo { top: 0; left: 1em; }
  /* line 9, ../sass/tablets.scss */
  .navbar h1 { line-height: 40px; display: inline; }
  /* line 13, ../sass/tablets.scss */
  .navbar ul { height: 0; width: 100vw; display: none; overflow: hidden; text-align: center; position: relative; top: 0.4em; right: 1em; background-color: #060719; }
  /* line 23, ../sass/tablets.scss */
  .navbar ul li { display: none; display: block; width: 100vw; float: none; overflow: hidden; border-bottom: 1px solid #75777a; }
  /* line 30, ../sass/tablets.scss */
  .navbar ul li:first-child { border-top: 1px solid #75777a; }
  /* line 37, ../sass/tablets.scss */
  .mobile-nav { display: block; background: url(/images/burgernav.svg) no-repeat 93% center; height: 32px; position: relative; top: 2em; }
  /* line 45, ../sass/tablets.scss */
  .hero-text { position: relative; top: 3em; }
    /*
Navbar if the user has scrolled down on
other divs
*/
  /* line 54, ../sass/tablets.scss */
  .full-navbar { display: none     /* display: block; top: 1em; background-position: 90% center;
*/ }
  /* line 55, ../sass/tablets.scss */
  .full-navbar #logo { position: relative; top: -0.7em; }
  /* line 67, ../sass/tablets.scss */
  .about { font-size: 1.45em; }
  /* line 71, ../sass/tablets.scss */
  .project-box { margin-bottom: 0em; }
  /* line 75, ../sass/tablets.scss */
  .image img { width: 250px; } }
/*
Less than 1057px.
At 1057px, the project section is changed,
where the image and the description is not inline but act as blocks and each take up
xyz height.
*/
@media screen and (max-width: 1057px) { /* line 9, ../sass/desktop.scss */
  .my-work .hero-line { margin-top: 0.7em; margin-bottom: 1em; }
  /* line 13, ../sass/desktop.scss */
  .image { width: 70%; margin: 0 auto; }
  /* line 16, ../sass/desktop.scss */
  .image img { width: 300px; height: 100px; }
  /* line 21, ../sass/desktop.scss */
  .skills-text { margin-top: 5em; }
  /* line 24, ../sass/desktop.scss */
  .split-line { margin-top: 1em; }
  /* Disable vertical scrollbar */
  /* ::-webkit-scrollbar { display: block; }
*/
  /* line 33, ../sass/desktop.scss */
  .project-box { width: 80%; margin: 0 auto; text-align: center; }
  /* line 38, ../sass/desktop.scss */
  .content { margin-top: 0.5em; } }
/* More than 1000PX */
@media screen and (min-width: 1058px) { /* line 47, ../sass/desktop.scss */
  .about-text { top: 3.5em; }
  /* line 50, ../sass/desktop.scss */
  .skills-text { margin-top: 6em; }
  /* line 53, ../sass/desktop.scss */
  .image img { width: 312px; height: 135px; float: left; margin-left: 2em; }
  /* line 59, ../sass/desktop.scss */
  .description .title { display: inline-block; } }
/* line 12, ../sass/style.scss */
body { font-family: "Open Sans"; line-height: 1.5; }

/* Custom class to center items and text */
/* line 19, ../sass/style.scss */
.center-it { margin: auto; width: 90%; text-align: center; }

/* The line between the paragraphs and the title in the about section */
/* line 28, ../sass/style.scss */
.hero-line { background-color: #ffffff; height: 2px; width: 2em; margin: auto; margin-top: 0.5em; }

/* Loading animation, make it fullscreen, center
the animation and play it for 2secs (See JS file) */
/* line 40, ../sass/style.scss */
.loader { position: fixed; left: 0px; top: 0px; overflow: hidden; width: 100vw; height: 100vh; z-index: 9999; background: url("/images/loading.gif") 50% 50% no-repeat #2290f0; }

/*
Full navbar is the navbar that is shown
after the user has scrolled to almost
the second div
*/
/* line 57, ../sass/style.scss */
.full-navbar {     /* Fixed position requires a z-index and will
make the width shorter, so */ position: fixed; width: 100vw; z-index: 100; /*Pink #7c4199 - black: rgba(0,0,0,0.85); */ background-color: rgba(0, 0, 0, 0.85); height: 65px; line-height: 40px; }
/* line 69, ../sass/style.scss */
.full-navbar h1 { padding: 0; color: white; display: inline; font-size: 30px; margin-left: 0.4em; position: relative; top: 0.13em; }
/* line 79, ../sass/style.scss */
.full-navbar ul { display: inline; float: right; }
/* line 84, ../sass/style.scss */
.full-navbar li { display: inline; font-size: 18px; margin-left: 1em; position: relative; top: -0.3em; }

/* Footer */
/* line 95, ../sass/style.scss */
footer { padding: 1em; background-color: #85144b; color: white; text-align: center; }
/* line 101, ../sass/style.scss */
footer a { color: aliceblue; text-decoration: none; }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */