
/* Second section*/
.about {
    background-image: url(/images/backgroundStripes.png);
    height: auto;
    color: white;
    background-color: #4b2ca0;
    font-size: 1.5em;
    h1 {
        font-size: 1.4em;
    }
    
    p {
        font-size: 1em;
        margin-top: 0.7em;
    }
}

/* The spans that change the words color*/
#csharp {
    color: #5bef33;
}
#html5 {
    color: #f32424;
}
#css3 {
    color: #8893f0;
}
#js {
    color: #f8f35d;
}

/* /SPANS */

/* The text in the about section */
.about-text {
    position: relative;
    top: 2em;
    padding-bottom: 3em;
    p {
        margin-top: 0.7em;
    }
}
.skills-text {
    padding-bottom: 1.5em;
}