/* Contact me section*/

.contact-me {
    height: 20em;
    background-color: #001f3f;
    color: white;
    h1 {
        padding-top: 0.7em;
    }
    .contact-form {
        padding-bottom: 2em;
    }
    .input-text {
        margin-top: 1em;
    }
    #send-button {
        position: relative;
        width: 10em;
        margin: 2em auto;
    }
    input {
        padding: 0.4em 0.6em;
        display: block;
        margin: 0 auto;
    }
}