/*
Less than 1057px.
At 1057px, the project section is changed,
where the image and the description is not inline but act as blocks and each take up
xyz height.
*/

@media screen and (max-width: 1057px) {
    .my-work .hero-line {
        margin-top: 0.7em;
        margin-bottom: 1em;
    }
    .image {
        width: 70%;
        margin: 0 auto;
        img {
            width: 300px;
            height: 100px;
        }
    }
    .skills-text {
        margin-top: 5em;
    }
    .split-line {
        margin-top: 1em;
    }
    /* Disable vertical scrollbar */
    /*
      ::-webkit-scrollbar {
          display: block;
      }
  */
    .project-box {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .content {
        margin-top: 0.5em;
    }
}


/* More than 1000PX */

@media screen and (min-width: 1058px) {
    .about-text {
        top: 3.5em;
    }
    .skills-text {
        margin-top: 6em;
    }
    .image img {
        width: 312px;
        height: 135px;
        float: left;
        margin-left: 2em;
    }
    .description .title {
        display: inline-block;
    }
}