/* Less than 500PX */
@media screen and (max-width: 500px) {
    .hero-line {
        margin-top: 0.2em;
        margin-bottom: -0.4em;
    }
    
    .image img {
        width: 200px;
    }
}

/* Less than 400PX */
@media screen and (max-width: 400px) {
    .hero-text {
        top: 5em;
        width: 80%;
        margin: auto;
    }
    
    .about {
        font-size: 1.3em;
    }
    
    .image img {
        width: 150px;
        height: 100px;
        margin: 1em auto -1em auto;
        /* 1em from top, auto to right-left to center it and -1em for bottom, so the content such as the description and the title can be closer */
    }
}