
/* Projects */
.my-work {
    height: auto;
    font-size: 1.3em;
    background-color: #c2c2ca;
    text-align: center;
    h1 {
        position: relative;
        top: 0.6em;
        font-size: 2em;
    }
}
.project-box {
    margin-top: 2em;
}
.content {
    width: 70%;
    margin: 0 auto;
    margin-top: 2em;
}
.description {
    font-size: 0.9em;
    margin: 0.4em;
    color: #010140;
}
.my-work .hero-line {
    position: relative;
    top: 1em;
    background-color: black;
}
.image img {
    height: 100px;
    width: 300px;
    display: inline;
    margin-top: 1em;
}
.title a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: 1.3em;
}
.tools-used {
    ul {
        list-style-type: none;
    }
    
    li {
        display: inline;
        padding: 0.4em;
        margin-top: 0.3em;
        color: white;
        background-color: #ed1616;
        border-radius: 0.2em;
        font-size: 0.8em;
    }
}
.split-line {
    height: 1px;
    background-color: black;
    width: 90%;
    margin: auto;
    margin-top: 3em;
}
#projectN2 {
    padding-bottom: 3em;
}